.drumMachineContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 425px;
    background-color: blueviolet;
    border: 5px solid goldenrod;
    border-radius: 15px;
    box-shadow: 15px 15px 5px #404040;
}

h1 {
    user-select: none;
    font-family: "Press Start 2P", cursive;
    font-size: 2rem;
    letter-spacing: 2px;
    color: white;
    text-shadow: 4px 4px goldenrod;
    padding-top: 25px;
}

.padsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 7.5px;
    width: 300px;
    height: 250px;
}
